<div class="container-fluid p-0 mb-5">
    <div class="row">
      <div class="col">
        <h1 class="titulo text-center">Sudoku</h1>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <button (click)="resolver();">resolver</button>
      </div>
    </div>
    <div class="row">
      <div class="col d-flex justify-content-center">
        <table>
          <tr *ngFor="let fila of tablero; let i = index">
            <td *ngFor="let celda of fila; let j = index"
              class="celda"
              [ngClass]="{
              'linea_bottom': i == 2 || i == 5 || i == 8,
              'linea_right': j == 2 || j == 5 || j == 8,
              'linea_left': j == 0,
              'linea_top': i == 0,
              'sombra': celda != 0,
              'nada': celda == 0
            }">
              {{celda}}
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>