<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid p-0 m-0">
    <a class="navbar-brand" href="#">Adrián Elvis</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
      <div class="navbar-nav d-flex">
        <a class="nav-link mx-4 fs-4" routerLink="">Inicio</a>
        <a class="nav-link mx-4 fs-4" routerLink="blog">Blog</a>
        <a class="nav-link mx-4 fs-4" routerLink="form_contacto">Contacto</a>
      </div>
    </div>
  </div>
</nav>
