.btn{
    background-color:#626fcf;
    color:#FFFF;
    font-size: 20px;
}
td,th{

}
.tr{
    background-color: #afb8f8;
}
.rojo{
    background-color: #eb6e6e;
}
.verde{
    background-color: #88f071;
}