.container-fluid{
    min-height: 100vh;
}
.row,.col{
    margin:0;
    padding:0;
}
.btnGuest,.btnVolver{
    background-color:#626fcf;
    color:#FFFF;
    border:2px solid #000000;
    font-size: 20px;
}
.btnVolver{
    font-size:15px;
}
.celda, .opcion{
    cursor: pointer;
}
.error{
    color:#ff0000;
    font-size: 20px;
}
.sudoku{
    text-align: center;
}
table{
    background-color: white;
}
td{
    border: 1px solid #000000;
    width:50px;
    height:40px;
    font-size:30px;
    color:#000000;
}
.opcion{
    background-color: #cee8ff;
    border: 2px solid #000000;
    border-radius: 10px;
    margin:2px;
    width:40px;
    font-size:30px;
    color: #000;;
}
.linea_right{
    border-right: 2px solid #000000;
}
.linea_bottom{
    border-bottom: 2px solid #000000;
}
.linea_top{
    border-top: 2px solid #000000;
}
.linea_left{
    border-left: 2px solid #000000;
}
.sombra{
    background-color: #afd7ff;
    pointer-events: none;
}
.nada{
    opacity: 0;
    cursor: pointer;
}

/* @media screen and (min-width:1300px){
    td{
        width:60px;
        height:60px;
    }
} */
@media screen and (min-width:1000px){
    td{
        width:50px;
        height:50px;
    }
}
@media screen and (max-width:400px){
    td{
        width:33px;
        height:33px;
    }
}
@media screen and (max-width:300px){
    td{
        width:26px;
        height:26px;
        font-size: 20px;
    }
}
